<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/css/main.css">
</head>
<body background="{{ url_for('static', filename='img/background.jpg') }}">
<h1>flask-app-kubernetes</h1>
<h6>repo link: https://github.com/ahmedkhemiri95/flask-app-kubernetes </h6>
<div class="description">
<img src="{{url_for('static', filename='img/flask.png')}}" width="150" height="200" />
<img src="{{url_for('static', filename='img/docker.png')}}"width="200" height="200" />
<img src="{{url_for('static', filename='img/aks.png')}}" width="200" height="200" />
<p>Sample Dokerized flask app deployed on Kubernetes on Azure using AKS</p>

</div>


</body>
</html>
