  
h1,h6 {
    color: white;
    margin-left: 20px;
    text-align: center;
  }
.description{
    color:white;
    text-align: center;
    margin-top: 80px;
}

.description p{
    margin-top:  100px;

}